code-input {
  height: min-content;
  margin: 0;
}
code-input pre {
  overflow: initial !important;
}

code-input textarea,
code-input pre {
  /* always wrap content */
  white-space: pre-wrap;
  max-width: min-content;

  /* override JS fixating the height with inline style and causing the textarea not to shrink
  after deleting content */
  height: min-content !important;

  /* fixes the "CSS reset" directive `* { box-sizing: border-box }` causing cursor to jump around */
  box-sizing: content-box;
}

code-input pre code {
  /* always wrap content */
  white-space: pre-wrap;
  max-width: calc(100% - 2em);

  /* override JS fixating the height with inline style and causing the textarea not to shrink
  after deleting content */
  height: min-content !important;

  /* fixes the "CSS reset" directive `* { box-sizing: border-box }` causing cursor to jump around */
  box-sizing: content-box;
}